<div>
    <form action="" >
        <div>
            <input type="text" name="" id="" placeholder="Enter username / Email" (input)="getUserEmail($event)">
        </div>
       <div>
        <input type="password" name="password" id="password" placeholder="Enter your password" (input)="getUserPassword($event)">
       </div>
        <div>
            <button type="button" (click)="onSubmit()">Login</button>
        </div>
    </form>

    <!-- <div action="">
       <input type="text" name="" id="" placeholder="city Name" [(ngModel)]= "city" name="city"/>
    </div> -->
</div>